h1 {
  color: '#333333';
  text-align: center;
}

body {
  font-family: 'Avenir';
  margin: 0;
  background-color: #eeeeee;
}

.container {
  background-color: white;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  width: 480px;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
}