h1 {
  padding: 20px;
  font-weight: 500;
  margin: 10px 0;
}

body {
  color: '#333333';
  font-family: 'SF UI Display', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
  /* background-color: #468B78; */
  background-color: #E5E5E5;
}

.card {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}

.outer {
  width: 100%;
}

.container {
  /* background-color: #66BBB5; */
  /* background-color: #EEEEEE; */
  width: 960px;
  margin: 20px auto;
  flex-direction: row;
  display: flex;
}

.content-left {
  width: 280px;
}

.content-main {
  width: 680px;
}

ul {
  padding: 0 20px;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.header-outer {
  width: 100%;
  padding: 10px 0;
  background-color: #3D8B85;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}

.header {
  width: 960px;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
}

.header h2 {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Avenir";
  font-weight: 400;
  margin: 0;
  padding: 0 20px;
}

.readline-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}

input {
  height: 30px;
  width: 75%;
  padding-left: 10px;
  margin-right: 4px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 200;
}

button {
  height: 30px;
  border: 1px solid #AAAAAA;
  border-radius: 0;
  background-color: white;
  font-size: 14px;
  font-weight: 200;
  min-width: 60px;
  margin-top: 10px;
  margin-right: 4px;
}

button:active {
  background-color: #104642;
}

.small-text {
  font-size: 12;
}

.medium-text {
  font-size: 16;
}

.large-text {
  font-size: 20;
  font-weight: 500;
}